<div class="card mx-auto">
    <h1 class="text-center">Acerca de los comics</h1>
    <div class="card-body">
        <p class="card-text text-center">
            Un cómic es un relato explicado mediante viñetas o recuadros que contienen ilustraciones. Algunas o todas las viñetas pueden contener, además, un texto más o menos breve. Esta definición simple explica por qué se considera un formato tan versátil: el
            uso creativo que podemos darle a las viñetas, las ilustraciones, las palabras y los recursos que veremos más adelante, demuestran que es imposible agotar sus posibilidades. El cómic se considera, como el cine, un arte secuencial porque trata
            de contarnos una historia a través de secuencias. Esto, que parece muy moderno, es en realidad muy antiguo: el arte secuencial tiene sus antecedentes más remotos en las pinturas rupestres, en los jeroglíficos egipcios y en la cerámica griega.
            De todas formas, durante la mayor parte de la historia reciente el cómic fue considerado algo infantil. Recién en la década de los años 60 apareció una forma de expresión adulta y compleja que permitió que indague en temas serios.
        </p>

    </div>
    <img class="card-img-top" src="assets/img/banner.jpg" alt="Card image cap">

</div>